<div class="container">
    <div class="row">
        <div class="" id="titleDiv">
            <h1 id="title">Current Convo</h1>
            <h2>Current Technology events from Politico</h2>
        </div>
    </div>
    <div class="row" class="linkRow">
        <div class="col-md-4">
            <a href="/saved" class="upper-link">Articles worth another look</a>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-sm" id="scrapeBtn">Update listed Stories</button>
        </div>
        <div class="col-md-4">
            <a href="https://www.politico.com/technology" class="upper-link">Politico's Technology Page</a>
        </div>
    </div>
