<div class="container">
    <div class="row">
        <div class="" id="titleDiv">
            <h1 id="title">Current Convo</h1>
            <h2>Current Technology events from Politico</h2>
        </div>
    </div>
    <div class="row" class="linkRow">
        <div class="col-md-4">
            <a href="/saved" class="upper-link">Articles worth another look</a>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary btn-sm" id="scrapeBtn">Update listed Stories</button>
        </div>
        <div class="col-md-4">
            <a href="https://www.politico.com/technology" class="upper-link">Politico's Technology Page</a>
        </div>
    </div>

    <div class="row">
        <div class="col" id="articles">
            {{#each Article}}
            <div class="card mt-4 mb-4">
                <div class="card-title mt-2 mb-0 ml-3 pl-1">
                    <h5>{{this.title}}</h5>
                    <button class="btn btn-success save-article ml-3" data-id={{this._id}}>Save Article</button>
                </div>
                <div class="card-body pt-1 pb-1">{{this.tease}}</div>
                <a href={{this.url}} class="card-link text-right pr-2">See More...</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
