<nav>
    <div class="">
      <a href="/" class="">Scrape The News</a>
      <ul class="" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="https://github.com/Cmoconnor0823/Current_Converse" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>